<mat-form-field class="full-width">
  <input type="text" placeholder="Start typing..."  matInput [formControl]="filterControl"
    [matAutocomplete]="auto">
  <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="resetInput()">
    <mat-icon>close</mat-icon>
  </button>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
    <mat-option *ngFor="let option of options | async" [value]="option.text" [id]="option.value">
      {{option.text}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>